html, body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;

    background-color: #08070c;

    color: white;
    
}

/* Navigation Bar */

header {
    position: fixed;
    width: 100%;
    background-color: #040404;

    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin: 0;

    align-items: center;
    justify-content: center;
}

.nav-element {
    display: flex;

    color: white;
    font-size: 24;

    padding: 0 25%;
}

.nav-element a {
    display: flex;
    height: 50;

    text-decoration: none;

    align-items: center;
    justify-content: center;
}

.nav-element img {
    display: flex;

    margin: 0;
    width: 100px;
    padding: 0;

    align-items: center;
    justify-content: center;
}

.nav-element a:visited{
    color: white;
}

.nav-element:hover {
    background-color: #0e274f;
}

/* Body */


/* Buffer for navigation bar */
.nav-buffer {
    height: 50;
}

/* Home Page : Main Image */
#main-image {
    width:100%;
    object-fit: cover;
}

/* Home Page : About */
.about {
    display: flex;
    flex-direction: column;

    padding: 100px;

    justify-content: center;
    align-items: center;
}

.about-items {
    display: flex;
    flex-direction: column;

    gap: 1.5em 0;
    max-width: 75%;
}

.profile {
    display: flex;
    flex-direction: row;

    gap: 0 3em;

    justify-content: center;
    align-items: center;
}

.about-info {
    display: flex;
    flex-direction: column;
    
    font-size: 20;

    max-width: 15vw;
    min-width: 25%;
}

.about-image {
    border-radius: 5%;
    max-width: 15vw;
    min-width: 25%;
}

.about-content {
    display: flex;

    min-width: 50%;

    justify-content: center;
    align-items: center;
}

.about-content p {
    max-width: 75%;
}

/* Tours */
.tour {
    display: flex;
    flex-direction: column;

    min-height: 70%;
    margin: 2em 0 6em;

    align-items: center;
}

.tour h1 {
    margin: 2em 0;
}

.tour-list {
    display: flex;
    flex-direction: column;

    width: 900;
    max-width: 60%;
    gap: 1em;

    justify-content: center;
    align-items: center;
}

.tour-item {
    display: flex;
    flex-direction: row;

    padding-bottom: 1em;

    width: 100%;
    border-bottom: 1px solid #0e274f;
    
    align-items: flex-start;
}

.tour-item p {
    padding: 0;
    margin: 0;
}

.tour-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20em, 20em;
}

.tour-date {
    
}

.tour-location {

}

.tour-country {

}

.tour-more-info {
    width: 100;

    

    text-align:right;

    text-decoration: none;
    color: white;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #040404;
    color: white;
    height: 250;
}

/* Footer : Socials */
.socials-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0;
    padding: 25 25;
    width: fit-content;
    gap: 1em;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: white;
    border-radius: 50%;
}

/* On hover */
.socials-list:hover .socials{
    background-color: gray;
}

.socials:hover {
    background-color: white !important;
}

.socials-youtube {
    max-width: 20px;
    max-height: 20px;
}

.socials-twitter-x {
    max-width: 16px;
    max-height: 16px;
}

.socials-instagram {
    max-width: 20px;
    max-height: 20px;
}

.socials-tiktok {
    max-width: 20px;
    max-height: 20px;
}

.socials-spotify {
    max-width: 32px;
    max-height: 32px;
}

.socials-apple-music {
    max-width: 20px;
    max-height: 20px;
}

.socials-nicovideo {
    max-width: 32px;
    max-height: 32px;
}