html {
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin: 0;

    align-items: center;
    justify-content: center;
}

.nav-element {
    display: flex;

    color: white;
    font-size: 24;

    padding: 0 25%;
}

.nav-element a {
    display: flex;
    height: 50;

    text-decoration: none;

    align-items: center;
    justify-content: center;
}

.nav-element img {
    display: flex;

    margin: 0;
    width: 100px;
    padding: 0;

    align-items: center;
    justify-content: center;
}

.nav-element a:visited{
    color: white;
}

.nav-element:hover {
    background-color: gray;
}

.main-image {
    margin: 0;
    max-width: 100%;
}

#main-image {
    max-width: 100%;
}

.socials {
    
}