html {
    overflow-x: hidden;
}

/* Navigation Bar */

header {
    position: fixed;
    width: 100%;
    background-color: #040404;

    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin: 0;

    align-items: center;
    justify-content: center;
}

.nav-element {
    display: flex;

    color: white;
    font-size: 24;

    padding: 0 25%;
}

.nav-element a {
    display: flex;
    height: 50;

    text-decoration: none;

    align-items: center;
    justify-content: center;
}

.nav-element img {
    display: flex;

    margin: 0;
    width: 100px;
    padding: 0;

    align-items: center;
    justify-content: center;
}

.nav-element a:visited{
    color: white;
}

.nav-element:hover {
    background-color: gray;
}

/* Body */
body {
    background-color: #08070c;
    color: white;
}

/* Home Page : Main Image */
#main-image {
    max-width: 100%;
}

/* Home Page : About */
#about {
    display: flex;
    flex-direction: row;
}

.about-image {
    border-radius: 50%;
    max-width: 15vw;
}

.about-info {

}
















/* Footer */
footer {
    background-color: #040404;
    color: white;
    height: 100;
}

/* Footer : Socials */

.socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 50%;

    flex: 1 1 0;
}

.socials-list:hover {
    background-color: gray;
}

.socials img {
    max-width: 25px;
    width: 75%;
}

.socials-youtube {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-twitter-x {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-instagram {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-tiktok {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-spotify {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-apple-music {
    max-width: 1vw;
    max-height: 1vw;
}

.socials-nicovideo {
    max-width: 1vw;
    max-height: 1vw;
}